<!DOCTYPE html>
<html>
  <head>
    <title>Token Wallet</title>
  </head>
  <body>

    <div id="js-app">
      <h1>{{ name }} Wallet</h1>
      <p>あなたのアドレス: {{ defaultAccount }}</p>
      <p>{{ name }}の保有量: {{ showBalance(balance) }} {{ symbol }}</p>
      <p>
        送金先: <br />
        <input v-model="to" type="text" />
      </p>
      <p>
        送る量: <br />
        <input v-model="amount" type="number" />
      </p>
      <p>
        <button @click="send">送金</button>
      </p>
      <p v-if="history">
        送金成功: <a :href="'https://ropsten.etherscan.io/tx/' + history">{{ history }}
        </a>
      </p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>

     var abi = [];
     (function (handleload) {
       var xhr = new XMLHttpRequest;
       xhr.addEventListener('load', handleload, false);
       xhr.open('GET', 'build/contracts/Coin.json', true);
       xhr.send(null);
     }(function handleLoad (event) {
       var xhr = event.target,
           data = JSON.parse(xhr.responseText);
       abi = data.abi
     }));

     window.addEventListener('load', function() {
       // Checking if Web3 has been injected by the browser (Mist/MetaMask)
       if (typeof web3 !== 'undefined') {
         // Use Mist/MetaMask's provider
         window.web3 = new Web3(web3.currentProvider);
       } else {
         console.log('No web3? You should consider trying MetaMask!')
         // fallback - use your fallback strategy (local node / hosted node + in-dapp id mgmt / fail)
         window.web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:9000"));
       }
       // Now you can start your app & access web3 freely:
       main()
     })

     function onlyRopstenTestNetwork(cb) {
       web3.version.getNetwork(function(err, netId) {
         if (netId === "3") {
           cb();
         } else {
           document.write("Please switch MetaMask to Ropsten Test Network and reload page.");
         }
       });
     }

     function main() {
       var contractAddress = "0xb2c46106ae8e576ace0f23ce65622e8811a1fd0b";
       var abiArray = abi;
       console.log(abi);

       var contract = web3.eth.contract(abiArray).at(contractAddress);
       console.log(contract)
       contract.name(function(err, name){
         if(err) throw err;
         contract.symbol(function(err, symbol){
           if(err) throw err;
           contract.balanceOf(web3.eth.defaultAccount, function(err, balance){
             if(err) throw err;
             initializeApp(web3.eth.defaultAccount, contract, name, symbol, balance);
           });
         });
       });
     }

     function initializeApp(defaultAccount, contract, name, symbol, balance) {
       new Vue({
         el: '#js-app',
         data: {
           defaultAccount: defaultAccount,
           name: name,
           symbol: symbol,
           balance: balance,
           to: "",
           amount: 0,
           history: ""
         },
         methods: {
           showBalance: function(balance) {
             console.log('===== Balance =====');
             console.log(balance.toNumber());

             return balance.toNumber();
           },
           send: function() {
             var $this = this;
             var sendAmount = this.amount * 100;
             contract.transfer(this.to, sendAmount, {from: defaultAccount}, function(err, txhash){
               if (err) throw err;
               $this.history = txhash;
               contract.balanceOf(defaultAccount, function(err, balance){
                 $this.balance = balance;
               });
             });
           }
         }
       })
     }
    </script>
  </body>
</html>
